@media(max-width:990px){
    #searchForm.pa-t-215{
        top: 140px;
     }
     #mySelectstart.form-select,
     #mySelectend.form-select,
     #tickettotal.form-select{
        line-height: 17px;
        font-size: 14px;
    }
     .form-control{
        line-height: 17px !important;
        font-size: 14px !important;
    }
    .spacing-form-search{
        margin-bottom: 180px;
    }
    .img-quality{
        margin-top: 10%;
    }
    .text-title-quality{
        font-size: 20px;
    }
    .text-content-quality{
        font-size: 14px;
    }
    /* .footer-none{
        display: none;
    }
    .ban-quyen{
        font-size: 12px;} */
}
@media(max-width:767px){
    /* FORM SEARCH  */
    .huong-dan{
        font-size: 13px;
        padding: 0;
    }
    #banner-sale-outstanding{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #banner-sale-outstanding .img{
        padding: 10px 0;
    }
    .title-home{
        font-size: 18px;
    }
    .spacing-form-search{
        margin-bottom: 50px;
    }
    .form-select{
        line-height: 17px;
        font-size: 14px;
    }
     .form-control{
        line-height: 17px !important;
        font-size: 14px !important;
    }

    /* QUALITY */
    .img-quality{
        display: none;
    }
    .text-title-quality{
        font-size: 20px;
    }
    .text-content-quality{
        font-size: 13px;
    }

    /* FOOTER  */
    .footer-none{
        display: none;
    }
    .ban-quyen{
        font-size: 12px;
    }
}
